<br>
<h3>Text it out!</h3>
<div class="well col-md-4 col-sm-5">
  <%= form_for @text_message, url: {action: "send_message"}, 
  html: {role: "form", class: "form-horizontal" } do |f|%>
    <%= f.text_field :from, value: "+14158586879"  %><br>
    <br>
    <%= f.text_field :to, value: "+14157059500" %><br>
    <br>
    <%= f.text_area :body, class: 'text-input' %><br><br>
    <a id="schedule-link">
      <span>Schedule text for later?</span>
      </a>
    <div class="show-cal">
      <p>Cecilia, I'm down on my knees come home</p>
    </div>
    <%= f.submit "Send Text Message", class: "btn btn-success btn-min" %>
  <% end %>
</div>